:root {
    --main-colour:#ff5858;
    --bg-colour: #616161;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--main-colour);
    background-color: var(--bg-colour);
}

.top {
    text-align: center;
}

.top h1 {
    font-size: 90px;
}